build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
*.o
*.a
*.so
*.dll
*.exe
*.out
*.tmp
*.log
# .vscode
.cache
CMakeDoxy*
Testing
_Baking.exr
myenv
config.conf
logs/*
GameEngine